.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column img {
  margin-top: 8px;
  margin-right: 8px;
  margin-left: 8px;
  vertical-align: middle;
}
body {
  background-color: rgb(0, 0, 0)	;
}

h1 {
  font-family: courier;

  color: rgb(255, 153, 255);

}
h2 {
  font-family: courier;
  color: rgb(153, 255, 230);
}
p {
  font-family: courier;
  color: rgb(255, 153, 230)	;
}

p.pad {
  padding-left: 20%;
}

h2.pad {
  padding-left: 20%;
}


a:link {
  color: rgb(255, 255, 153)	;
}

/* visited link */
a:visited {
  color: rgb(153, 255, 230);
}

/* mouse over link */
a:hover {
  color: rgb(255, 255, 255)	;
}

/* selected link */
a:active {
  color: rgb(153, 153, 255)	;
}
