body {
  background-color: black;
}

h1 {
  font-family: courier;
  color: rgb(255, 255, 255);

}
h2 {
  font-family: courier;
  color: rgb(255, 255, 255);
}
p {
  font-family: courier;
  color: rgb(255, 230, 255);
}

a {
  font-family: courier;
  color: chartreuse;
}


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* visited link */
a:visited {
  color: cyan;
}

/* mouse over link */
a:hover {
  color: rgb(100, 100, 100)	;
}

/* selected link */
a:active {
  color: rgb(153, 153, 255)	;
}

mark {
  background-color: black;
  color: rgb(153, 255, 230);
}
